/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

/* COMMON */
ul {
    list-style: none;
}

.btn {
    
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #292841;
}

.btn-w {
    color: black;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #E5E5E5;
}

.al-center {
    text-align: center;
}

/* HEADER */
.header {
    background-color: #255EE9;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;

    /* debug */
    /* background-color: #DAA520; */
    /* border: 2px dashed black; */
    
}

.nav div {
   height: 40px;

}

.nav-logo {
    flex-grow: 1;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;

    /* border-right: 3px dashed blue; */
}

.nav-logo a{
    display: flex;
    align-items: center;
    
    /* debug */
    /* border-right: 3px dashed black; */
}

.nav-items {
    flex-grow: 2;
    display: flex;
    align-items: center;

    /* debug */
     /* background-color: red; */
}

.nav-items li {
    flex-shrink: 1;
    width: calc(100% / 5);
    text-align: center;
    font-weight: 300;
    /* debug */
    /* border: 1px solid white; */
}

.nav-items li a {
    font-weight: 600;
}


.item {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;

    /* debug */
    /* background-color: chocolate; */
    /* border: 1px solid red; */
}


.login-form {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    /* debug */
    /* border-left: 3px dashed black; */
}

/* MAIN */
.main-sect {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-image: url(../img/jumbo.png);
    background-size: cover;
    /* debug */
    height: 500px;
    /* background-color: #00008B; */
}

.main-content {
    color: white;
    /* margin: 0 auto; */
    margin: 0 50px;
    /* debug */
    text-align: center;
    /* background-color: red; */
    /* border: 1px solid black; */
}

.discord-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.discord-text {
    font-size: 20px;
}

.main-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.main-content p {
    font-size: 20px;
}

/* Layouts */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 50px; 
    
    /* debug */
    border: 3px solid green;

}

.layout .img {
    background-color: #248B24;
    height: 885px;
    width: 100%;
    
}

.layout{
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* debug */
    border: 2px solid black;
    width: 1120px;
}

.layout-secondary {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* debug */
    border: 2px solid black;
    width: 1120px;
}

.b-column {
    width: 60%;
    height: 500px;
    
    /* debug */
    background-color: #2090FE;
    border: 1px dashed black;
}

.s-column {
    width: 40%;
    height: 500px;
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    /* debug */
    background-color: #FEC0CB;
    border: 1px dashed black;
}

.secondary {
    background-color: #D3D3D3;
}

.shine-star {
    padding: 35px;
    background-image: url(../img/stars.svg);
    background-size: 100%;
    background-repeat: no-repeat;

    /* debug */
    /* background-color: white;
    border: 1px dashed black; */

}

.shine-star h2 {
    font-size: 20px;
}

/* FOOTER */
footer {
    background-color: #23272A;
}

footer .layout {
    justify-content: flex-start;
    background-color: #80FED4;
}

footer .b-column {
    width: calc(100% / 6 * 2);
    background-color: #EF8080;
    
}

footer .s-column {
    width: calc(100% / 6);
    background-color: #22B2AA ;
}

footer nav {
    display: flex;
    align-items: center;
    gap: 1000px;
    /* debug */
    height: 40px;
    
}

.f-logo,
.f-button {
    padding: 10px;
    background-color: #FEC0CB;
    border: 1px dashed black;
}